POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=propig_db
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/propig_db

# Para gerar uma nova: python -c "import secrets; print(secrets.token_urlsafe(32))"
JWT_SECRET=rLKbzIYpZdkfkdrlvuefHWnDWoa-05V8BK0wClLIjcE
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60