POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=propig_db
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/propig_db

JWT_SECRET=rLKbzIYpZdkfkdrlvuefHWnDWoa-05V8BK0wClLIjcE
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Seed Credentials (Development Only - Change in Production)
SEED_SUPER_PASSWORD=super123
SEED_MANAGER_PASSWORD=manager123
SEED_EMPLOYEE_PASSWORD=employee123